@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body,
html {
    height: 100%;
    width: 100%;
}

h1,
h2 {
    margin: 10px 0 0 0 !important;
}

p.message {
    margin: 20px 0 0 0 !important;
}

.trekit {
    font-size: 1.3em;
    font-weight: 700;
    font-family: 'Days One', sans-serif !important;
    font-weight: 500;
}

div img {
    margin: 10px 0;
}