@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body,
html {
    height: 100% !important;
    width: 100% !important;
}

.left h1,
.left h2 {
    margin: 10px 0 0 0 !important;
    color: whitesmoke !important;
}

p.message {
    margin: 20px 0 0 0 !important;
    color: whitesmoke !important;
}

.trekit {
    font-size: 1.4em !important;
    font-family: 'Days One', sans-serif !important;
}

.left {
    /* background-color: rgb(37, 37, 37); */

    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #240b36, #c31432);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #240b36, #c31432);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}