@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

body,
html {
    height: 100% !important;
    width: 100% !important;
}

.left h1,
.left h2 {
    margin: 10px 0 0 0 !important;
    color: whitesmoke !important;
}

p.message {
    margin: 20px 0 0 0 !important;
    color: whitesmoke !important;
}

.trekit {
    font-size: 1.4em !important;
    font-family: 'Days One', sans-serif !important;
}

.left {
    background-color: rgb(37, 37, 37);
}

/*  */

.blinking-cursor {
    /* font-weight: 100;
    font-size: 30px;
    color: #2E3D48; */
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fff;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fff;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fff;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fff;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: #fff;
    }
}